@import "tailwindcss";

@theme {
  /* Definição da nossa paleta elegante */
  --color-primary: #630d16;    /* Burgundy (Vinho) */
  --color-secondary: #d4af37;  /* Dourado */
  --color-accent: #e2a7a1;     /* Rosa Seco */
  --color-soft: #fff9f5;       /* Fundo Creme */
}

:root {
  background-color: var(--color-soft);
  color: #1a1a1a;
}